{%extends 'layout.html'%}
{% block content %}
    <div class="header mt-5">
        <h3>Invitarr Configuration</h3>
    </div>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Envs</a>
            </li>
          </ul>
    </nav>
    <div class="form-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
            <div class="row">
                <div class="col-md-3">
                {{ form.discord_bot_token.label(class="form-control-label")}}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                {% if form.discord_bot_token.errors %}
                    {{ form.discord_bot_token(class="form-control form-stringfield", **{"list": "chars-list"})}}
                    <small id="emailHelp" class="form-text text-muted">Some text describing this field</small>
                        <div class="invalid-feedback">
                        {% for error in form.discord_bot_token.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                {% else %}
                    {{ form.discord_bot_token(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                {% endif %}  
                <small id="emailHelp" class="form-text text-muted">Some text describing this field</small>
                </div>
            </div>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-md-3">
                    {{ form.role_id.label(class="form-control-label")}}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                    {% if form.role_id.errors %}
                        {{ form.role_id(class="form-control form-stringfield", **{"list": "chars-list"})}}
                        <div class="invalid-feedback">
                            {% for error in form.role_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.role_id(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                    {% endif %}  
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-md-3">
                    {{ form.plex_user.label(class="form-control-label")}}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                    {% if form.plex_user.errors %}
                        {{ form.plex_user(class="form-control form-stringfield", **{"list": "chars-list"})}}
                        <div class="invalid-feedback">
                            {% for error in form.plex_user.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.plex_user(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                    {% endif %}  
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-md-3">
                    {{ form.plex_pass.label(class="form-control-label")}}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                    {% if form.plex_pass.errors %}
                        {{ form.plex_pass(class="form-control form-stringfield", **{"list": "chars-list"})}}
                        <div class="invalid-feedback">
                            {% for error in form.plex_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.plex_pass(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                    {% endif %}  
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-md-3">
                    {{ form.plex_libs.label(class="form-control-label")}}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                    {% if form.plex_libs.errors %}
                        {{ form.plex_libs(class="form-control form-stringfield", **{"list": "chars-list"})}}
                        <div class="invalid-feedback">
                            {% for error in form.plex_libs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.plex_libs(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                    {% endif %}  
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-md-3">
                    {{ form.channel_id.label(class="form-control-label")}}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                    {% if form.channel_id.errors %}
                        {{ form.channel_id(class="form-control form-stringfield", **{"list": "chars-list"})}}
                        <div class="invalid-feedback">
                            {% for error in form.channel_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.channel_id(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                    {% endif %}  
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-md-3">
                    {{ form.owner_id.label(class="form-control-label")}}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                    {% if form.owner_id.errors %}
                        {{ form.owner_id(class="form-control form-stringfield", **{"list": "chars-list"})}}
                        <div class="invalid-feedback">
                            {% for error in form.owner_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.owner_id(class="form-control form-stringfield", **{"list": "chars-list"})}}        
                    {% endif %}  
                    </div>
                </div>
            </div>
            <div class="my-3">
            <div class="row">
                <div class="col-md-3">
                {{ form.auto_remove_user.label(class="form-control-label")}}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                <div class="form-check form-check-inline">
                    {% if form.auto_remove_user.errors %}
                    {{ form.auto_remove_user(class="form-control form-stringfield")}}
                    <div class="invalid-feedback">
                        {% for error in form.auto_remove_user.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.auto_remove_user(class="form-check-input")}}
                {% endif %}
                </div>        
                </div>
            </div>
            </div>
            <div class="form-group my-5 submit-btn">
            {{ form.submit(class="btn btn-sm action-item submit-btn") }}
            </div>
        </form>
    </div>
{% endblock content %}