{%extends 'layout.html'%}
{% block content %}
    <div class="header mt-5">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" class="img" height="45">
        <h3>Invitarr Configuration</h3>
    </div>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bot') }}">Bot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Plex</a>
            </li>
          </ul>
    </nav>
    
{% endblock content %}